.leftdiv{
	margin-top: 20px;
	width: 30%;
	height: 70vh;
	float: left;
	
}
.rightdiv{
	margin-top: 20px;
	width: 68%;
	height: 70vh;
	float: right;
	border: 1px solid;
	margin-right:  1%;
	border-radius: 8px;

}

img {
	margin-top: 22%;
	height: 300px;
	width:  300px;
	border-radius: 200px;
	justify-content: center;
	text-align:center;
}

.titlename{
	font-size: 64px;
	margin-top: 8px;
	margin-left: 60px;
	margin-right:30px ;
	font-weight: 8;
	font-family: courier;
	margin-bottom: 8px;
}
.introself{
	font-size: 20px;
	margin-top: 8px;
	margin-left: 60px;
	margin-right:60px ;
	font-weight: 8;
	font-family: courier;
}

.maincontent{
	height: 70vh;
	font-family: courier;
}

.innerdiv{
	margin-left: 50px;
	margin-right: 50px;
}

.innerdiv ol li{
	padding: 5px;
	margin-left: 35px;

}
.innerdiv ol{
	padding: 20px;
}

.innerdiv li{
	float:  none;
	color: black;
}
.box{
	height: 50%;
	width: 32%;
	float: left;
	border: 1px solid;
	border-radius: 8px;
	margin:  3px;
}